.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

}
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-35%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  z-index: 99;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
}

#scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  width: 50vw;
}

.viewer{
  position: fixed;
  height: 150vh;
  width: 50vw;
  z-index: 20;
  background-size: 6380px 6380px;
  background-repeat: no-repeat;
  background-position: top;
  /* margin-bottom: 20rem; */
  /* transform: translate(20%, -20%); */



}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: 110vh;
  margin-left: 1rem;
  z-index: -10;
  background-image: url('./assets/BG.png');
  background-repeat: no-repeat;
}

.eclip {
  /* display: flex; */
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  /* padding: 16rem; */
  background-size: 100% 100%;
  background-image: url('./assets/eclipseGrp.png');
}


.eclip1 {
  /* display: flex; */
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  /* padding: 16rem; */
  margin-bottom: -25rem;
  background-size: 100% 100%;
  background-image: url('./assets/Ellipse1150.png');
}

.lves{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -0.5;
  background-repeat: no-repeat;
  /* margin-top: 7.5rem; */
  padding: 16rem;
}

.lves2{
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -0.5;
  background-repeat: no-repeat;
  /* margin-top: 7.5rem; */
  /* padding: 16rem; */
}


.natEssen{
  position: absolute;
  flex-direction: column;
  margin-left: 21rem;
  z-index: -0.5;
  background-repeat: no-repeat;
  /* margin-top: 6rem; */
  /* padding: 3rem; */
}

.natText{
  display: flex;
  position: absolute;
  z-index: 0;
  margin-bottom: 6rem;
  background-repeat: no-repeat;
  /* margin-top: 6rem; */
  /* padding: 3rem; */
}


.strk-3 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
}

.strk-0 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: white;
}

.sec2 {
  height: 100vh;
}
